
.ffff{
  background-color: #0351C1;
  border: none;
  width: 50px;
  height: 25px;
  color: white;
}
.svet{
  background-color: #5199FF;
  border: none;
  height: 25px;
  width: 50px;
  color: white;
}